#sq-cvv {
  width: 60px;
}

#sq-expiration-date {
  width: 75px;
}

.cc-container {
  margin: 0 auto;
}

#sq-postal-code {
  width: 75px;
  text-align: center;
}

#sq-ccbox {
}

#sq-walletbox {
}

#sq-card-number {
  width: 200px;
}

#cc-field-wrapper {
  padding-top: 50px;
  margin: 0;
  display: inline-flex;
}

button.button-credit-card {
  display: block;
  line-height: 1.25em;
  vertical-align: middle;
  height: 45px;
  width: 385px;
  border-radius: 5px;
  text-align: center;
  margin: 5px auto;
  font-size: 22px;
  font-weight: 600;
  background-color: #000;
  color: #fff;
}

button.wallet-button {
  display: block;
  margin: 5px auto;
  border-radius: 10px;
  height: 45px;
  width: 300px;
  overflow: hidden;
  background-clip: border-box;
  background-position: center;
}

/* #form-container {
  width: 100%;
} */

input::placeholder {
  color: #000;
}

.sq-input--focus {
  outline: -webkit-focus-ring-color auto 5px;
}

.sq-input--error {
  box-shadow: inset 0px 0px 0px 3px rgba(255, 0, 0, 0.5);
}
